h1{
    font-size: 50px
  
}
body {
    font-family: 'Winky Sans', sans-serif;
    margin: 0px;
}
.name-highlight{
    color: orange;
}
.side{
    width: 43%;
    float: left;
    margin-left: 5%;
}
.side img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.background{
    background-image: url("images/background.png");
}
.backgroundnd{
    background-image: url(images/secbackground.png);
    background-position: right;
    size: 400px;
}
.backgroundrd{
    background-image: url(images/dfg.png);
    background-position: left;
    size: 400px;
}
section {
    height: 500px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
}
.link-button{
    background-image: linear-gradient( lightsalmon, tomato );
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
    font-style: bold;
    font-size: 20px;
}
.left{
    margin-right: 70px;
}
a{
    margin: 5px auto auto 15px ;
}
.margin{
    margin: 10px;
}
.box{
    box-shadow: 10px 10px 30px gray;
    height: 200px;
    border-radius: 10px;
}
#side-linest{
    border-left: 6px solid ;
    border-image: linear-gradient( 180deg, lightsalmon, tomato );
    border-image-slice: 1;
    background-color: white;

}
#sidelinend{
    border-left: 6px solid ;
    border-image: linear-gradient( 180deg, blue, cyan );
    border-image-slice: 1;
    background-color: white;
}
footer p {
    text-align: center;
    font-size: 20px;;
    margin-top: 10px;
    margin-bottom: 0px;
}